.header{
    background-color: #423F46;
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.headerItem{
    color: #FAED26;
    font-size: 24px;
    font-weight: bold;
}
.con{
   background-image: url('/public/images/datebg.svg');
   background-size: cover;
   background-position: center;
}